<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
    <title>Brevet Times</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/display.css" />
    <!-- Javascript:  JQuery from a content distribution network (CDN) -->
    <!-- <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
    </script>  -->

    <!-- Bootstrap includes javascript and css  (must follow jquery) -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"> -->
</head>

<body>
    <!-- <form action="/new" method="POST">
        <input type="text" name="name"></input>
        <input type="text" name="description"></input>
        <input type="submit"></input>
    </form> -->

    {% if items|length < 1 %}
        <p class="warning"> Error: no controls currently available in the database. </p>
        <br>
        <a href="javascript:history.back()">Return to the Control Calculator and click 'Submit'.</a>
    {% endif %}

    {% for item in items %}
        <!-- <h1> {{ item.name }} </h1>
        <p> {{ item.description }} <p> -->
        <!-- <p> {{ item.description }} <p> -->

        <!-- <h3> {{ item }} </h3> -->
        <p> ---------------------- </p>
        <p> {{ item.location }} </p>
        <p> {{ item.miles }} miles / {{ item.km }} km </p>
        <p>  Open: {{ item.open }} </p>
        <p> Close: {{ item.close }} </p>
        <p> Notes: <span class="warning">{{ item.note }}</span></p>
        <br />

    {% endfor %}

</body>
</html>
