/* Styles for ACP control calculator display page */

.warning {
    color: red;
}

body {
    font-family: Consolas,monaco,monospace;
    font-size: 14px;
    margin: 5px;
}

p {
    margin: 5px;
    margin-block-start: 0em;
    margin-block-end: 0em;
    width: 25%;
}

@media (min-width: 992px)
.col-md-6 {
    width: auto;
}
